<% include ../head.ejs %>

<section id="chat" class="chat section-bg">
    <style>
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }

    </style>
    <div class="row">

        <!-- 대기실 -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              대기실
            </div>
            <div class="card-body">
              <form action="">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="m" autocomplete="off" />
                  <div class="input-group-append">
                    <button id="msg-send" class="btn btn-primary" placeholder="message">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <ul id="messages"></ul>
            </div>
          </div>
        </div>

        <!-- 방선택 -->
        <div class="col-lg-8"></div>
    </div>
</section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(() => {
        /** Socket Starts **/
        const socket = io({
            query : { username : "<%=user?user.mb_name:''%>" }
        });
        
        // 클라이언트에서 reuqest_message 프로토콜로 id='m' 의 input 값을 보낸다.
        $('#msg-send').click(() => {
          socket.emit('request_message', $('#m').val());
          $('#m').val('');
          return false; 
        });

        socket.on('response_message', (res) => {
          $('#messages').prepend($('<li>').text(res));
        });

      });
    </script>

<% include ../tail.ejs %>