<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        <form action="/member/register" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="text" name="name">
            <input type="text" name="phone">
            <input type="text" name="address">
            <button type="submit">Register</button>
        </form>
    </body>
</html>